$break-small: 320px;
$break-mobile: 834px;

#App{
  overflow: hidden;
}

.home-title {
  @media screen and (max-width: $break-mobile) {
    font-size: 32px !important;
  }
}
.home-sub-title {
  @media screen and (max-width: $break-mobile) {
    font-size: 25px !important;
  }
}
.title {
  @media screen and (max-width: $break-mobile) {
    font-size: 23px !important;
    padding: 10px !important;
  }
}
.centered {
  @media screen and (max-width: $break-mobile) {
    text-align: center !important;
  }
}
.details {
  @media screen and (max-width: $break-mobile) {
    font-size: 18px !important;
    padding: 15px !important;
    // width: 100% !important;
    // overflow-wrap: break-word;
  }
}

.textview {
  @media screen and (max-width: $break-mobile) {
    width: 86% !important;
  }  
}

// .padded-view{
//   @media screen and (max-width: $break-mobile) {
//     padding: 10px !important;
//   }
// }
.logo img {
  @media screen and (max-width: $break-mobile) {
    height: 50px !important;
    width: 150px !important;
    padding: 0 10px !important;
    background-position: left !important;
  }
}
.nav-bar{
  @media screen and (max-width: $break-mobile) {
    min-height: 80px !important;
  }
}

.logo {
  @media screen and (max-width: $break-mobile) {
    padding: 0 10px !important;
  }
}
.non-padded-details {
  @media screen and (max-width: $break-mobile) {
    font-size: 18px !important;
    width: 100% !important;
    overflow-wrap: break-word;
  }
}

.apply-button {
  @media screen and (max-width: $break-mobile) {
    display: none !important;
  }
}
.padded-view {
  @media screen and (max-width: $break-mobile) {
    padding: 10px !important;
  }
}
.page-break {
  @media screen and (max-width: $break-mobile) {
    padding: 20px !important;
  }
}
.page-break-vh {
  @media screen and (max-width: $break-mobile) {
    max-height: 100vh !important;
  }
}

.radio-flex-start {
  @media screen and (max-width: $break-mobile) {
    justify-content: flex-start !important;
  }
}
.centered-view{
  @media screen and (max-width: $break-mobile) {
   min-width: 320px !important;
  }
}
.padded-container {
  @media screen and (max-width: $break-mobile) {
    padding: 30px 15px !important;
  }
}
.footer {
  @media screen and (max-width: $break-mobile) {
    justify-content: center !important;
  }
}

.wrapped-text{
  @media screen and (max-width: $break-mobile) {
    overflow-wrap: break-word;
    width: 100%;
  }
}
.input-other{
  @media screen and (max-width: $break-mobile) {
    order: 1 !important;
    width: 95% !important;
  }
}

.breadcrumb-text{
  @media screen and (max-width: $break-mobile) {
    display: flex !important;
  }  
}
.breadcrumb-switcher{
  @media screen and (max-width: $break-mobile) {
    display: none !important;
  }
}

.wrapped-text .non-padded-details{
  @media screen and (max-width: $break-mobile) {
    text-align: center;
  }
}

.radio-btn {
  color: #BCE0FD !important;
  // background-color:#ffffff !important;
  background-color: transparent !important;
  padding: 0 !important;
  margin: 9px !important;
}
.radio-btn:hover{
  background-color: transparent !important;
}