.react-datepicker-wrapper{
  width: 87%;
  max-width: 620px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(112, 112, 112);
  border-image: initial;
  margin: 8.5px;
  padding: 15px;
  background: rgb(37, 43, 46);
  border-radius: 12px;
}

.react-datepicker__input-container input {
  color: rgb(252, 255, 247);
  width: 100%;
  font-size: 20px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
  background: transparent;
}