input[type="file"] {
  display: none;
}
.custom-file-upload {
  // border: 1px solid #ccc;
  display: inline-block;
  padding: 10px 20px;
  color: #707070;
  font-size: 20px;
  cursor: pointer;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 19px;
}